<p id="notice"><%= notice %></p>

<h1>Fulfillments</h1>

<table>
  <thead>
    <tr>
      <th>Ship type</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fulfillments.each do |fulfillment| %>
      <tr>
        <td><%= fulfillment.ship_type %></td>
        <td><%= fulfillment.order %></td>
        <td><%= link_to 'Show', order_fulfillment_path(id: fulfillment.id) %></td>
        <td><%= link_to 'Edit', edit_order_fulfillment_path(id: fulfillment.id) %></td>
        <td><%= link_to 'Destroy', order_fulfillment_path(id: fulfillment.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fulfillment', new_order_fulfillment_path %>
